*{padding: 0; margin: 0;}

body{
    background-color:#FF4778;
    color:white
}
.cabecera{height: 100px;
    background-color:#C63968;
    text-align: center;
}

.menu{height: 50px;
    background-color: #ff4778;
    margin-top: 2%;
}
.central{height: 1000px;
    background-color:#FFBE86;
    margin-top: 2%;
}

.pie{
    height: 180px;
    background-color:#FF4778;
    margin-top: 3%
}

ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style-type:  none;;
}